//Sass Variables
$background: #333;
$basefont: "Areial" san-serif;
$accent: orange;
$color: darken(orange, 15%);
$backup: saturate(orange, 20%);
$margin: 10px;
$padding: 10px;

@mixin width($width: 350px){
    width: $width;
  }

  .float{
      float: left;
      width: 50px;
      margin: 20px;
      padding: 20px;
      text-align: center;
  }

  .textAlign{
      text-align: center;
  }

body{
    background: $background;
    color: white;
    margin: $margin;
    padding: $padding;
    @extend .textAlign;
    font{
        family: $basefont;
        size: 1em;
        style:oblique;
    }
}

h1{
    background: $backup;
    @include width;
    @extend .textAlign;
}

h2{
    background: $color;
    @include width;
}

img{
    float: none;
}

ul li{
    list-style-type: none;
    @extend .float;
}

ul li a:link{
    color: blue;
}

ul li a:visited{
    color: white;
}

ul li a:hover{
    color: lime;
}

ul li a:active{
    color: pink;
}

footer{
    background: $accent;
    @include width;
}